@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
.site-content {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
img {
    display: block;
}
/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 24px 0;
}
.header-item {
    font-weight: 700;
    font-size: 28px;
}
.header-item:hover {
    color: #0027D5;
    text-decoration: wavy underline;
    transition: 0.3s ease;
    cursor: pointer;
}
/* hero section */
.hero-section {
    display: flex;
}
.hero-img {
    flex: 1;
}
.hero-img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    flex: 1;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-title {
    font-weight: 900;
    font-size: 120px;
    margin-bottom: 12px;
    color: #0027D5;
}
.hero-desc {
    font-weight: 700;
    font-size: 28px;
    color: #0027D5;
}
@media (max-width: 992px) {
    .hero-section {
        flex-direction: column;
    }
    .hero-content {
        padding: 24px;
    }
    .hero-title {
        font-size: 52px;
    }
}
/*about section*/
.about-section {
    display: flex;
    gap: 24px;
    border-top: 1px solid #6C757D;
}
.about-img {
    flex: 1;
}
.about-img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 120px 80px 0;
}
.about-info {
    margin-bottom: 16px;
}
.about-date {
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
}
.about-metadata {
    display: flex;
    align-items: center;
    gap: 8px;
}
.about-metadata-hashtag {
    font-weight: 500;
    font-size: 24px;
    color: #0027D5;
}
.about-metadata-hashtag:hover {
    filter: brightness(0.6);
    transition: 0.3s ease;
    cursor: pointer;
}
.about-metadata-label {
    font-weight: 700;
    color: #fff;
    background-color: #0027D5;
    padding: 6px 12px;
    border-radius: 40px;
}
.about-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}
.about-desc {
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.about-button {
    width: fit-content;
    font-weight: 500;
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
    padding: 8px 16px;
    border-radius: 40px;
}
.about-button:hover {
    background-color: #4B4B4B;
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
}
@media (max-width: 992px) {
    .about-section {
        flex-direction: column;
        gap: 0px;
    }
    .about-content {
        padding: 48px 12px;
    }
}
/* blog section */
.blog-section {
    padding: 80px 0;
    background-color: #FBFBFB;
    border-top: 1px solid #6C757D;
    border-bottom: 1px solid #6C757D;
}
.blog-container {
    max-width: 1296px;
    margin: 0 auto;
}
.blog-search-container {
    display: flex;
    align-items: center;
    border: 1px solid #4B4B4B;
    border-radius: 40px;
    width: 416px;
    padding-left: 16px;
}
.blog-search-container:hover {
    border: 1px solid #0027D5;
    cursor: pointer;
}
.fa-magnifying-glass {
    vertical-align: middle;
}
.blog-searchbar {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 48px 16px 10px;
}
.blog-block-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 24px;
    padding: 40px 0px;
}
.blog-card {
    display: flex;
    flex-direction: column;
}
.blog-card-container {
    padding-top: 16px;
}
.blog-card-content {
    margin-bottom: 16px;
}
.blog-card-date {
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
}
.blog-card-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
.blog-card-metadata-item {
    font-weight: 500;
    font-size: 24px;
    color: #0027D5;
}
.blog-card-metadata-item:hover {
    filter: brightness(0.6);
    transition: 0.3s ease;
    cursor: pointer;
}
.blog-card-metadata-label {
    font-weight: 700;
    color: #fff;
    background-color: #0027D5;
    padding: 6px 12px;
    border-radius: 40px;
}
.blog-card-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}
.blog-card-desc {
    font-weight: 500;
    color: #4B4B4B;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-card-button {
    width: fit-content;
    color: #4B4B4B;
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid #000;
}
.blog-card-button:hover {
    background-color: #4B4B4B;
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
}
.blog-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-pagination-item {
    color: #4B4B4B;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1.5px solid #FFF;
}
.blog-pagination-item:hover {
    border: 1.5px solid #0027D5;
    transition: 0.3s ease;
    cursor: pointer;
}
.more:hover {
    border: none;
    cursor: default;
}
.fa-solid {
    color: #4B4B4B;
}
.page-active {
    color: #0027D5;
}
@media (max-width: 992px) {
    .blog-section {
        padding: 64px 12px;
    }
    .blog-search-container {
        width: 100%;
    }
    .blog-block-content {
        grid-template-columns: 1fr;
        gap: 48px;
    }
    .blog-card-img-item {
        width: 100%;
        object-fit: cover;
    }
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 80px 312px;
}
.footer-media {
    display: flex;
    gap: 4px;
}
.footer-media-item {
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #FFF;
}
.footer-media-item:hover {
    border: 1px solid #0027D5;
    transition: 0.3s ease;
    cursor: pointer;
}
.footer-bottom {
    padding: 24px 0;
    text-align: center;
}
@media (max-width: 992px) {
    .footer {
        display: none;
    }
}